@model onlineBookStore.Models.Author

@{
    ViewBag.Title = "DeleteAuthorView";
Layout = "~/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
   <title></title>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap.js"></script>


</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("~/Views/Shared/_AdminSideBar.cshtml")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home/LogOut"><i class="fa fa-dashboard"></i>Log Out</a></li>
                    <li><a href="/Admin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Delete Author</h3>
                        </div><!-- /.box-header -->
                        <section class="content">
                            <div class="box-body">
                                @using (@Html.BeginForm("DeleteAuthorToTable", "Admin", FormMethod.Post))
                                {
                                   
                                    @Html.HiddenFor(m => m.Id);
                                    <br />
                                     @Html.LabelFor(m => m.name);
                                    <br />
                                    @Html.TextBoxFor(m => m.name);
                                    <br />
                                    <br />
                                    <input type="submit" value="Delete" />
                                }
                                </div>
                        </section>

                    </div>
                </div>
            </div>
            </div>
         <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                            <b>Version</b> 2.0
                        </div>
                        <strong>Copyright &copy; 2014-2015 <a href="#">BestSellers</a>.</strong> All rights reserved.
                    </footer>

                    <!-- Add the sidebar's background. This div must be placed
                    immediately after the control sidebar -->
                    <div class='control-sidebar-bg'></div>
                </div><!-- ./wrapper -->

</body>
</html>
